<div> 
  <div  class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="change-password-modal-label" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Altere sua Senha</h4>
        </div>
        <div class="modal-body">
          <p>Informa sua senha atual, a senha nova desejada e redigite a senha nova para efeitos de confirma&ccedil;&atilde;o.</p>
        </div>

        <div class="alert alert-warning" role="alert" ng-show="message">
            <span ng-bind="message"/>
        </div>

        <form name="changePasswordForm" role="form" ng-submit="changePasswordConfirming()">
          <div class="modal-body">
            <div class="form-group">
              <label for="oldPassword">Senha Atual</label>
              <input type="password" class="form-control" name="oldPassword" required ng-model="oldPassword" placeholder="Senha Atual">
            </div>
            <div class="form-group">
              <label for="newPassword">Nova Senha</label>
              <input type="password" class="form-control" name="newPassword" required ng-model="newPassword" placeholder="Nova Senha" >
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirme a Nova Senha</label>
              <input type="password" class="form-control" name="confirmPassword" required ng-model="confirmPassword" placeholder="Confirme Nova Senha">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Alterar Senha</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
