<!-- Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="img/carousel1.jpg" width="100%" height="100%" class="img-responsive img-thumbnail"/>
      <div class="container">
        <div class="carousel-caption">
          <h1>BEM VINDO A NOVA AG&Ecirc;NCIA NAMORO GAY</h1>
          <p class="carousel-font">Sua ag&ecirc;ncia est&aacute; de cara nova, mais moderna e com novas funcionalidades. Tudo para auxiliar mais ainda voc&ecirc; a encontrar sua alma g&ecirc;mea. Confira nossas mudan&ccedil;as</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">conferir novidades</a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/carousel2.jpg" width="100%" height="100%" class="img-responsive img-thumbnail"/>
      <div class="container">
        <div class="carousel-caption">
          <h1>CADASTRO GR&Aacute;TIS POR UM M&Ecirc;S</h1>
          <p class="carousel-font">Voc&ecirc; tem um m&ecirc;s para usar gratuitamente. Desta forma, voc&ecirc; pode conhecer melhor a ag&ecirc;ncia com todas suas funcionalidades e facilidades.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">comece agora</a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/carousel3.jpg" width="100%" height="100%" class="img-responsive img-thumbnail"/>
      <div class="container">
        <div class="carousel-caption">
          <h1>MAIS DE 15000 CLIENTES</h1>
          <p class="carousel-font">A ag&ecirc;ncia conta com mais de 15000 clientes cadastrados s&oacute; esperando pra te conhecer melhor.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">cadastre-se j&aacute;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- /.carousel -->

<div class="container marketing">

  <div class="row">

    <div class="col-lg-4">
      <button type="button" class="btn btn-circle red" id="depoimento-button-link"
        onclick="window.location.href='#depoimentos'">
        <i class="glyphicon glyphicon-bullhorn white"></i>
      </button>
      <h2>Depoimentos</h2>
        <p>"Fazia tempo que eu procurava um cara legal para ter um relacionamento s&eacute;rio... at&eacute; que encontrei o site da ag&ecirc;cia...
        <br/><br/>3 semanas depois Marcelo me encontrou. <br/><br/>Me adicionou no MSN e ...<br/><br/>
      </p>
      <p>
        <a class="btn btn-default" href="#depoimentos" id="depoimento-link" role="button">Ver mais &raquo;</a>
      </p>
    </div>

    <div class="col-lg-4">
      <button type="button" class="btn btn-circle purple" onclick="window.location.href='#enquetes'">
        <i class="glyphicon glyphicon-list-alt white"></i>
      </button>
      <h2>Enquete</h2>
      <p align="left" class="enquete-paragraph">O que aconteceu quando voc&ecirc; assumiu sua homossexualidade ?<br/><br/>
        <input type="radio">&nbsp;&nbsp;<small>Ainda n&atilde;o assumi</small></input><br/>
        <input type="radio">&nbsp;&nbsp;<small>Apenas meus amigos apoiaram</small></input><br/>
        <input type="radio">&nbsp;&nbsp;<small>Minha fam&iacute;lia e meus amigos apoiaram</small></input><br/>
        <input type="radio">&nbsp;&nbsp;<small>Ningu&eacute;m me apoiou</small></input><br/>
      </p><br/><br/>
      <p>
        <a class="btn btn-default" href="#enquetes" role="button" id="enquetes-link">Votar / ver resultado &raquo;</a>
      </p>
    </div>

    <div class="col-lg-4">
      <button type="button" class="btn btn-circle green" id="como-funciona-link-btn" onclick="window.location.href='#comofunciona'">
        <i class="glyphicon glyphicon-question-sign"></i>
      </button>
      <h2>Como funciona</h2>
      <p>Seu cadastro inicia ao responder algumas perguntas sobre seu perfil A partir da&iacute;, voc&ecirc; pode fazer uma pesquisa verificando qual pessoa combina mais com seu perfil. A ag&ecirc;ncia tamb&eacute;m executa esta pesquisa para voc&ecirc; lhe informando por e-mail os perfis mais compat&iacute;veis. Cabe a voc&ecirc; a decis&atilde;o de contatar a indica&ccedil;&atilde;o da ag&ecirc;ncia ou n&atilde;o.</p>
      </br>
      <p>
        <a class="btn btn-default" href="#comofunciona" id="como-funciona-link" role="button">Cadastrar agora &raquo;</a>
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cadastre-se agora. <span class="text-muted">Sigilo total de seus dados.</span>
      </h2>
      <p class="lead">A ag&ecirc;ncia namoro gay &eacute; uma ag&ecirc;ncia <strong>s&eacute;ria</strong> que t&ecirc;m com objetivo ajudar as pessoas a se conhecerem. Para sua seguran&ccedil;a e privacidade, somente pessoas cadastradas t&ecirc;m acesso as informa&ccedil;&otilde;es de nosso site.<br/>
      Veja nossa <a href="#politica" id="politica-link">pol&iacute;tica de privacidade</a> e confira como &eacute; seguro se cadastrar.
      <br/><br/>
      <strong>D&ecirc; uma chance a seu cora&ccedil;&atilde;o e <a href="#">cadastre-se</a> agora mesmo</strong>. Em caso de d&uacute;vidas, <a href="#faleconosco" id="fale-conosco-link">fale conosco</a>.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="../img/cadastre-se.jpg" alt="Cadastre-se ja">
    </div>
  </div>

  <hr class="featurette-divider" id="faleconosco">

  <br/><br/>

  <div class="row featurette">
    <div class="col-md-12" align="center">
      <div class="row">
        <h2><i class="glyphicon glyphicon-envelope text-pink"></i>&nbsp;&nbsp;FALE CONOSCO</h2>
      </div>
      <div class="row col-md-3"></div>
      <div class="row col-md-6">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nome">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Assunto</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Assunto">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Mensagem</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-envelope"></span> Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="row col-md-3"></div>
    </div>
  </div>

  <br/><br/>

  <hr class="featurette-divider" id="politica">

  <br/><br/>
  <div class="row featurette">
    <div class="col-md-12" align="center">
      <h2>
        <i class="glyphicon glyphicon-exclamation-sign text-orange"></i>
        &nbsp;&nbsp;POL&Iacute;TICA DE PRIVACIDADE
      </h2>
    </div>

    <div class="row col-md-12">&nbsp;</div>
    <div class="row col-md-12">&nbsp;</div>

    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <p>
          A ag&ecirc;cia namoro gay tem como pol&iacute;tica principal n&atilde;o divulgar os dados pessoais de seus clientes para nenhum parceiro, entidade comercial ou governamental.<br/><br/>
          Todas as informa&ccedil;&otilde;es pessoais fornecidas s&atilde;o armazenadas e apenas os pr&oacute;prios clientes da Ag&ecirc;ncia s&atilde;o capazes de visualiz&aacute;-las. E voc&ecirc; pode alter&aacute;-las quando quiser, acessando o menu "Editar Perfil".<br/><br/>
          No cadastro solicitamos somente informa&ccedil;&otilde;es que ajudem a definir como voc&ecirc; &eacute; fisicamente, a sua cidade e as suas prefer&ecirc;ncias. O seu e-mail ser&aacute; utilizado apenas para a Ag&ecirc;ncia comunicar com voc&ecirc;<br/><br/>
          Se um dia desejar cancelar sua conta em nosso site, todas suas informa&ccedil;&otilde;es pessoais ser&atilde;o apagadas de nosso sistema.<br/>
        </p>
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-5">&nbsp;</div>
      <div class="col-md-2">
        <p>
          <a class="btn btn-lg btn-primary" href="#home" role="button">home</a>
        </p>
      </div>
      <div class="col-md-5">&nbsp;</div>
    </div>
  </div>

  <br/><br/>

  <hr class="featurette-divider" id="comofunciona">

  <br/><br/>

  <div class="row featurette">
    <div class="col-md-12" align="center">
      <h2><i class="glyphicon glyphicon-question-sign text-green"></i>&nbsp;&nbsp;COMO FUNCIONA</h2>
    </div>

    <div class="row col-md-12">&nbsp;</div>
    <div class="row col-md-12">&nbsp;</div>

    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <p>
          A ag&ecirc;cia namoro gay tem como objetivo ajudar as pessoas a se conhecerem, tanto homens, mulheres e transexuais.<br/><br/>
          Assim que você <a href="#cadastra-link">cadastra</a> seu perfil, a Ag&ecirc;ncia seleciona os clientes que mais combinam com você e te envia um e-mail informando os perfis encontrados. Cabe, ent&atilde;o &agrave; voc&ecirc; decidir se aceita ou n&atilde;o conhecer a pessoa.<br/><br/>

          Voc&ecirc; tamb&eacute;m poder&aacute; fazer buscas de perfis de acordo com o que achar interessante.<br/>
          Sendo nosso cliente, voc&ecirc; poder&aacute; participar de nossas enquetes. Quando voc&ecirc; encontrar seu amor aqui na ag&ecirc;ncia, você poder&aacute; deixar seu depoimento contando sua história para outras pessoas verem.<br/><br/>

          Voc&ecirc; se cadastra <strong>GRATUITAMENTE</strong> no site e se torna nosso cliente especial por <strong>3 dias!</strong>. Ao fim da promoção, voc&ecirc; se torna cliente b&aacute;sico. Para permanecer como cliente especial, e ter acesso a funcionalidades exclusivas, basta o pagamento mensal de apenas <strong>R$ 1,99!</strong><br/></br>

          Para seguran&ccedil;a e privacidade de nossos clientes, somente pessoas cadastradas t&ecirc;m acesso as informa&ccedil;&otilde;es de nosso site. Veja nossa <a href="#politica" id="politica-como-funciona-link">pol&iacute;tica de privacidade</a> e veja como &eacute; seguro se cadastrar.<br/><br/>

          <strong>S&oacute; Vantagens!</strong><br/><br/>

          Sendo um <strong>Cliente B&aacute;sico</strong>, voc&ecirc; ser&aacute; apresentado somente aos nossos clientes especiais e estes poderão entrar em contato com você se o seu perfil for compat&iacute;vel com o que eles procuram.<br/><br/>

          Sendo um <strong>Cliente Especial</strong>, a Ag&ecirc;ncia lhe apresentar&aacute; perfis compat&iacute;veis ao que você procura e você poder&aacute; entrar em contato com os clientes que achar interessante, independentemente se são clientes b&aacute;sicos ou especiais. Al&eacute;m de voc&ecirc; poder se comunicar com eles utilizando funcionalidades exclusivas do site como o <strong>chat normal</strong> e o <strong>chat com webcam</strong>.<br> Caso ambos aceitem se conhecer, poder&atilde;o entrar em contato um com o outro e pode ser o come&ccedil;o de algo especial...<br/><br/>

          Uma das mais de <strong>15.000</strong> pessoas cadastradas podem estar procurando por voc&ecirc;.<br/><br/>

          <strong>D&ecirc; uma chance a seu cora&ccedil;&atilde;o<br/><br/>

          <a href="#cadastra-link">Cadastre-se</a> agora mesmo.<br/>
        </p>
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-5">&nbsp;</div>
      <div class="col-md-2">
        <p>
          <a class="btn btn-lg btn-primary" href="#home" role="button">home</a>
        </p>
      </div>
      <div class="col-md-5">&nbsp;</div>
    </div>
  </div>

  <hr class="featurette-divider" id="depoimentos">
  <br/><br/>

  <div class="row featurette" >
    <div class="col-md-12" align="center">
      <h2><i class="glyphicon glyphicon-bullhorn text-red"></i>&nbsp;&nbsp;DEPOIMENTOS</h2>
    </div>

    <div class="row col-md-12">&nbsp;</div>
    <div class="row col-md-12">&nbsp;</div>

    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <p>
          Este &eacute; um espaço pra voc&ecirc;, que &eacute; nosso cliente, compartilhar sua hist&oacute;ria de amor que come&ccedil;ou aqui na Ag&ecirc;ncia de Namoro Gay. Sua oportunidade de mostrar que vale &agrave; pena buscar algu&eacute;m pra ser feliz.<br/>
        </p>
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="return false">
                  Ricardo - <i class="glyphicon glyphicon-calendar"></i>&nbsp;30/11/2009
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                "Fazia tempo que eu procurava um cara legal para ter um relacionamento s&eacute;rio... at&eacute; que encontrei o site da ag&ecirc;cia...
                3 semanas depois Marcelo me encontrou. Me adicionou no MSN e conversamos sempre. Vamos nos conhecer pessoalmente na semana que vem... eu realmente to gostando dele ..."
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-5">&nbsp;</div>
      <div class="col-md-2">
        <p>
          <a class="btn btn-lg btn-primary" id="depoimento-home-link" href="#home" role="button">home</a>
        </p>
      </div>
      <div class="col-md-5">&nbsp;</div>
    </div>
  </div>

  <hr class="featurette-divider" id="enquetes">
  <br/><br/>

  <div class="row featurette" >

    <div class="col-md-12" align="center">
      <h2><i class="glyphicon glyphicon-list-alt text-purple"></i>&nbsp;&nbsp;ENQUETES</h2>
    </div>

    <div class="row col-md-12">&nbsp;</div>
    <div class="row col-md-12">&nbsp;</div>

    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <p>
          Este &eacute; um espaço pra voc&ecirc;, que &eacute; nosso cliente, participar de nossas enquetes.<br/>
        </p>
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
    <br/><br/>

    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-5">
        <div class="panel-group" id="enquete1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#enquete1" href="#collapse1" onclick="return false">
                  <small><strong>O que aconteceu quando voc&ecirc; assumiu sua homossexualidade &nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse expand">
              <div class="panel-body">
                <p>
                  <input type="radio">&nbsp;&nbsp;<small>Ainda n&atilde;o assumi</small></input><br/>
                  <input type="radio">&nbsp;&nbsp;<small>Apenas meus amigos apoiaram</small></input><br/>
                  <input type="radio">&nbsp;&nbsp;<small>Minha fam&iacute;lia e meus amigos apoiaram</small></input><br/>
                  <input type="radio">&nbsp;&nbsp;<small>Ningu&eacute;m me apoiou</small></input><br/>
                </p>
                <p align="center">
                  <a class="btn btn-default" href="#enquetes" role="button" id="btEnquete1">Votar</a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel-group" id="enquete2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#enquete2" href="#collapse2" onclick="return false">
              <small><strong>Qual melhor conselho para uma pessoa que est&aacute; achando que &eacute; gay &nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse expand">
            <div class="panel-body">
              <p>
                <input type="radio">&nbsp;&nbsp;<small>Continue a ser hetero... ser gay &eacute; muito dif&iacute;cil</small></input><br/>
                <input type="radio">&nbsp;&nbsp;<small>Fique na sua, saia de vez em quando com pessoas do mesmo sexo, sem ningu&eacute;m saber</small></input><br/>
                <input type="radio">&nbsp;&nbsp;<small>Pare de se preocupar e assuma sua homossexualidade para todos.</small></input><br/>
              </p>
              <p align="center"><a class="btn btn-default" href="#enquetes" role="button" id="btEnquete2">Votar</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1">&nbsp;</div>

  </div>

  <div class="row">
    <div class="col-md-1">&nbsp;</div>

      <div class="col-md-5">
        <div class="panel-group" id="enquete3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#enquete3" href="#collapse3" onclick="return false">
                  <small><strong>Voc&ecirc; acha poss&iacute;vel uma pessoa deixar de ser gay&nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
                </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse expand">
              <div class="panel-body">
                <p>
                  <input type="radio">&nbsp;&nbsp;<small>Sim</small></input><br/>
                  <input type="radio">&nbsp;&nbsp;<small>N&atilde;o</small></input><br/>
                </p>
                <p align="center"><a class="btn btn-default" href="#enquetes" role="button" id="btEnquete3">Votar</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel-group" id="enquete4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#enquete4" href="#collapse4" onclick="return false">
                  <small><strong>&Eacute; poss&iacute;vel uma pessoa ser bissexual mesmo&nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
                </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse expand">
              <div class="panel-body">
                <p>
                  <input type="radio">&nbsp;&nbsp;<small>Sim</small></input><br/>
                  <input type="radio">&nbsp;&nbsp;<small>N&atilde;o</small></input><br/>
                </p>
                <p align="center"><a class="btn btn-default" href="#enquetes" role="button" id="btEnquete4">Votar</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>

    <div class="row">
      <div class="col-md-1">&nbsp;</div>

        <div class="col-md-5">
          <div class="panel-group" id="enquete5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#enquete5" href="#collapse5" onclick="return false">
                    <small><strong>O que voc&ecirc; acha da ado&ccedil&atilde;o de crian&ccedil;as por casais gays&nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse expand">
                <div class="panel-body">
                  <p>
                    <input type="radio">&nbsp;&nbsp;<small>Deveria ser proibido, pois n&atilde;o &eacute; bom para as crian&ccedil;as</small></input><br/>
                    <input type="radio">&nbsp;&nbsp;<small>Deveria ser permitido e incentivado, pois n&atilde;o prejudica de forma alguma o desenvolvimento das crian&ccedil;as</small></input><br/>
                  </p>
                  <p align="center"><a class="btn btn-default" href="#enquetes" role="button" id="btEnquete5">Votar</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="col-md-5">

        <div class="panel-group" id="enquete6">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#enquete6" href="#collapse6" onclick="return false">
            <small><strong>O que voc&ecirc; acha do projeto de lei apelidado como "cura gay"&nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
            </a>
          </h4>
          </div>
          <div id="collapse6" class="panel-collapse expand">
          <div class="panel-body">
            <p>
            <input type="radio">&nbsp;&nbsp;<small>Justo, pois quem n&atilde;o aceita sua homossexualidade tem o direito de se tratar com psic&oacute;logo</small></input><br/>
            <input type="radio">&nbsp;&nbsp;<small>Um grande retrocesso, pois n&atilde;o h&aacute; para o que n&atilde;o &eacute; doen&ccedil;a</small></input><br/>
            </p>
            <p align="center"><a class="btn btn-default" href="#enquetes" role="button" id="btEnquete6">Votar</a></p>
          </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>

    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-5">
        <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#enquete7" href="#collapse7" onclick="return false">
            <small><strong>O que voc&ecirc; acha da homossexualidade:&nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
            </a>
          </h4>
          </div>
          <div id="collapse7" class="panel-collapse expand">
          <div class="panel-body">
            <p>
            <input type="radio">&nbsp;&nbsp;<small>&Eacute; uma caracter&iacute;stica gen&eacute;tica</small></input><br/>
            <input type="radio">&nbsp;&nbsp;<small>&Eacute; uma op&ccedil;&atilde;o </small></input><br/>
            <input type="radio">&nbsp;&nbsp;<small>Pode aparecer durante a vida</small></input><br/>
            </p>
            <p align="center"><a class="btn btn-default" href="#enquetes" role="button" id="btEnquete7">Votar</a></p>
          </div>
          </div>
        </div>
        </div>

      </div>
      <div class="col-md-5">

        <div class="panel-group" id="enquete8">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#enquete8" href="#collapse8" onclick="return false">
            <small><strong>Voc&ecirc; acha que no futuro, o preconceito contra gay ser&aacute;&nbsp;<i class="glyphicon glyphicon-question-sign"></i></strong></small>
            </a>
          </h4>
          </div>
          <div id="collapse8" class="panel-collapse expand">
          <div class="panel-body">
            <p>
            <input type="radio">&nbsp;&nbsp;<small>Ser&aacute; a mesma coisa</small></input><br/>
            <input type="radio">&nbsp;&nbsp;<small>Ser&aacute; maior</small></input><br/>
            <input type="radio">&nbsp;&nbsp;<small>Ser&aacute; menor</small></input><br/>
            </p>
            <p align="center"><a class="btn btn-default" href="#enquetes" role="button">Votar</a></p>
          </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>

  </div>

  <br/><br/>

  <div class="row">
    <div class="col-md-5">&nbsp;</div>
    <div class="col-md-2">
      <p>
        <a class="btn btn-lg btn-primary" id="enquete-home-link" href="#home" role="button">home</a>
      </p>
    </div>
    <div class="col-md-5">&nbsp;</div>
  </div>
</div>

<!-- /END THE FEATURETTES -->
