 <form role="form" ng-submit="updateProfile()">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ProfileController" ng-init="loadProfile()">
      <br/><br/> 
       <h1 class="page-header">Meu Perfil</h1>
        <div class="row placeholders">
              <div>Ol&aacute; <strong><span ng-bind="profile.primeiro_nome"/></strong><br/><br/> Seja muito bem vindo a <strong>Ag&ecirc;ncia Namoro Gay</strong>. Para come&ccedil;ar a utiliza&ccedil;&atilde;o da ag&ecirc;ncia &eacute; necess&aacute;rio completar o cadastro de seu perfil:
              </div>

            <br/><br/>  


            <div id="container">
                <div id="content">
                  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                      <li><a href="#pessoais" onclick="return false" data-toggle="tab">Dados Pessoais</a></li>
                      <li class="active"><a href="#caracteristicas" onclick="return false" data-toggle="tab">Caracter&iacute;sticas / Social</a></li>
                      
                  </ul>
                  <div id="my-tab-content" class="tab-content">

                      <div class="tab-pane active" id="caracteristicas">                       
                            <h1>Caracter&iacute;sticas</h3>
                            <hr></hr>     
                            <br/>
                            
                            <div class="row">
                              <div class="col-md-1">
                                &nbsp;
                              </div>
                              <!--altura-->
                               <div class="col-md-3"> 
                                  <div class="form-inline">
                                    <label>Altura</label> 
                                    <div>
                                      <select class="form-control" name="altura_metros" 
                                      ng-model="altura.metros" 
                                        required= "true" ng-options="n for n in [] | range:0:3"/><small>&nbsp;m&nbsp;</small>
                                      <select class="form-control" name="altura_cm" 
                                        ng-model="altura.centimetros" 
                                        required= "true" ng-options="n for n in [] | range:0:100"/><small>&nbsp;cm</small>
                                    </div>
                                  </div>  
                                </div>  
                                <!--peso-->
                                <div class="col-md-3">
                                  <div class="form-inline">
                                    <label>Peso</label> 
                                    <div>
                                      <select class="form-control" name="peso_kilo" 
                                      ng-model="peso.kilos" 
                                        required= "true" ng-options="n for n in [] | range:0:251"/><small>&nbsp;kilos&nbsp;</small>
                                      <select class="form-control" name="peso_gramas" 
                                        ng-model="peso.gramas" 
                                        required= "true" ng-options="n for n in [] | range:0:1000"/><small>&nbsp;gramas</small>
                                    </div>    
                                  </div>                                  
                                </div>
                                <!--fisico-->
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label>Tipo F&iacute;sico</label> 
                                    <div>
                                      <input type="text" class="form-control" ng-model="profile.estilo_corpo" id="fisico" required="true"/>
                                    </div>    
                                  </div>                                  
                                </div>
                            </div>               

                             <div class="row">
                                <button type="submit" class="btn btn-success btn-lg">
                                   <span class="glyphicon glyphicon-floppy-save"></span> Salvar
                                </button>
                                <button type="button" class="btn btn-default btn-lg">
                                  Cancelar
                                </button>
                            </div>                                
                                           
                     </div><!--end caracteristicas tab-->
                  </div> <!-- tab content-->
               </div>  <!-- end content-->
            </div> <!--end container -->
        </div>
    </div>
</form>
         

<script>
 function showMeuPerfil(){
   document.getElementById('meuPerfil').style.display='block';
   document.getElementById('outrosClientes').style.display='none';
 }
  
 function showOutrosClientes(){
   document.getElementById('meuPerfil').style.display='none';
   document.getElementById('outrosClientes').style.display='block';
 }
 </script>

  