    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="ProfileController" ng-init="loadProfile()">
      <br/><br/> 
       <h1 class="page-header">Meu Perfil</h1>
        <div class="row placeholders">
              <div>Ol&aacute; <strong><span ng-bind="profile.primeiro_nome"/></strong><br/><br/> Seja muito bem vindo a <strong>Ag&ecirc;ncia Namoro Gay</strong>. Para come&ccedil;ar a utiliza&ccedil;&atilde;o da ag&ecirc;ncia &eacute; necess&aacute;rio completar o cadastro de seu perfil:
              </div>

            <br/><br/>  

            <div id="container">
                <div id="content">
                  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                      <li><a href="#pessoais" onclick="return false" data-toggle="tab">Dados Pessoais</a></li>
                      <li class="active"><a href="#caracteristicas" onclick="return false" data-toggle="tab">Caracter&iacute;sticas / Social</a></li>
                      
                  </ul>
                  <div id="my-tab-content" class="tab-content">

                      <div class="tab-pane active" id="caracteristicas">                       
                            <h1>Caracter&iacute;sticas</h3>
                            <hr></hr>     
                            <br/>
                            
                            <div class="row">
                              <div class="col-md-1">
                                &nbsp;
                              </div>
                              <!--altura-->
                               <div class="col-md-3"> 
                                  <div class="form-group">
                                    <label>Altura</label> 
                                    <div>
                                      <input type="text" ng-model="profile.altura" class="form-control" />
                                    </div>
                                  </div>  
                                </div>  
                                <!--peso-->
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label>Peso</label> 
                                    <div>
                                      <input type="text" class="form-control" ng-model="profile.peso" id="peso"/>
                                    </div>    
                                  </div>                                  
                                </div>
                                <!--fisico-->
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label>Tipo F&iacute;sico</label> 
                                    <div>
                                      <input type="text" class="form-control" ng-model="profile.estilo_corpo" id="fisico"/>
                                    </div>    
                                  </div>                                  
                                </div>
                            </div>               

                             <div class="row">
                                <button type="button" class="btn btn-success btn-lg">
                                   <span class="glyphicon glyphicon-floppy-save"></span> Salvar
                                </button>
                                <button type="button" class="btn btn-default btn-lg">
                                  Cancelar
                                </button>
                            </div>                                
                                           
                      </div><!--end caracteristicas tab-->


                      <div class="tab-pane" id="orange">
                          <h1>Orange</h1>
                          <p>orange orange orange orange orange</p>
                      </div>
                      <div class="tab-pane" id="yellow">
                          <h1>Yellow</h1>
                          <p>yellow yellow yellow yellow yellow</p>
                      </div>
                      <div class="tab-pane" id="green">
                          <h1>Green</h1>
                          <p>green green green green green</p>
                      </div>
                      <div class="tab-pane" id="blue">
                          <h1>Blue</h1>
                          <p>blue blue blue blue blue</p>
                      </div>                  
                  </div> <!-- container -->


              
                    <!--div class="col-md-3">
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="trabalha">Voc&ecirc; Trabalha?</label> 
                          <input type="text" id="trabalha" class="form-control"/>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="estuda">Voc&ecirc; Estuda?</label> 
                          <input type="text" id="estuda" class="form-control"/>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="mora">Mora com Quem?</label> 
                          <input type="text" id="mora" class="form-control"/>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="carroOuMoto">Possui Carro ou Moto?</label> 
                          <input type="text" id="carroOuMoto" class="form-control"/>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="temFilhos">Tem Filhos?</label> 
                          <input type="text" id="temFilhos" class="form-control"/>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="religiao">Religiao?</label> 
                          <input type="text" id="religiao" class="form-control"/>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="escolaridade">Escolaridade?</label> 
                          <input type="text" id="escolaridade" class="form-control"/>
                      </div>
                    </div>  

                    <div class="col-md-3">
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="signo">Signo?</label> 
                          <input type="text" id="signo" class="form-control"/>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="tv">Gosta de ver TV?</label> 
                          <input type="text" id="tv" class="form-control"/>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="ler">Gosta de ler?</label> 
                          <input type="text" id="ler" class="form-control"/>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="musica">Estilo de Música?</label> 
                          <input type="text" id="musica" class="form-control"/>
                          <input type="text" id="musica2" class="form-control"/>
                          <input type="text" id="musica3" class="form-control"/>
                          <input type="text" id="musica4" class="form-control"/>
                          <input type="text" id="musica5" class="form-control"/>
                      </div>

                      <label class="col-sm-2 control-label" for="vestir">Estilo de Vestir?</label> 
                      <input type="text" id="vestir"/>
                      <br/><br/>

                      <label class="col-sm-2 control-label" for="viajar">Prefere viajar para</label> 
                      <input type="text" id="viajar"/>
                      <br/><br/>

                      <label class="col-sm-2 control-label" for="fuma">Você fuma?</label> 
                      <input type="text" id="fuma"/>
                      <br/><br/>

                      <label class="col-sm-2 control-label" for="pratica">Pratica exerc&iacute;cios?</label> 
                      <input type="text" id="pratica"/>
                      <br/><br/>

                      <label class="col-sm-2 control-label" for="bebe">Bebe?</label> 
                      <input type="text" id="bebe"/>
                      <br/><br/>
                    </div-->  
                </div>            
              </div>





            
        </div>
    </div>

  <!--Closing Divs from login directive-->
  </div>
</div>
<script>
 function showMeuPerfil(){
   document.getElementById('meuPerfil').style.display='block';
   document.getElementById('outrosClientes').style.display='none';
 }
  
 function showOutrosClientes(){
   document.getElementById('meuPerfil').style.display='none';
   document.getElementById('outrosClientes').style.display='block';
 }
 </script>

  