 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-init="loadPhotos()">
      <br/><br/> 

      <h1 class="page-header">Minhas Fotos</h1>
      <div class="row placeholders">
                Escolha at&eacute; tr&ecirc;s fotos para serem exibidas em seu <strong>perfil</strong>.<br/>.
          </div>
      <br/>


      <div class="row">
        
        <div class="col-md-4">
          <h3>Foto 1</h3>
          <br/>
          <img src='/picture/{{currentUser.id}}/image?photoParam=foto1' style='width: 300px height: 200px'/>
          <br/>
          <br/>
          <a href="#myModal" onclick="return false;" role="button" class="btn btn-warning btn-lg" data-toggle="modal"><i class="glyphicon glyphicon-picture"></i> Altera Foto</a>
          
        </div>
        
        <div class="col-md-4">
          <h3>Foto 2</h3>
          <br/>
          <img src='/picture/{{currentUser.id}}/image?photoParam=foto2' style='width: 300px height: 200px'/>
          <br/>
          <br/>
          <button type="button" class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-picture"></i> Alterar Foto
          </button>
        </div>

        <div class="col-md-4">
          <h3>Foto 3</h3>
          <br/>
          <img src='/picture/{{currentUser.id}}/image?photoParam=foto3' style='width: 300px height: 200px'/>
          <br/>
          <br/>
          <button type="button" class="btn btn-warning btn-lg">
            <i class="glyphicon glyphicon-picture"></i> 
            Alterar Foto
          </button>
        </div>
      </div>
            
     <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div> 
    <!--form ng-upload="updateComplete(content)" ng-submit="validate()" action="/picture/upload/firstImage" method="POST" name="editForm" novalidate>
      		<div class="col-md-3">
            <span class="file-input btn btn-default btn-file">
              Escolha uma imagem: <input type="file" name="file">
            </span>            
            
            <input type="hidden" name="axisX" value="40"/>
            <br/><br/>
            <button type="submit" class="btn btn-success btn-lg" >
               <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Salvar
            </button>
          </div>
      </form-->	

 </div>
