 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-init="loadPhotos()">
      <br/><br/> 

      <h1 class="page-header">Minhas Fotos</h1>
      <div class="row placeholders">
                Escolha at&eacute; tr&ecirc;s fotos para serem exibidas em seu <strong>perfil</strong>.<br/>.
          </div>
      <br/>


      <div class="row">
        
        <div class="col-md-4">
          <h3>Foto 1</h3>
          <br/>
          <img src='/picture/{{currentUser.id}}/image?photoParam=foto1' style='width: 300px height: 200px'/>
          <br/>
          <br/>
          <a href="#" onclick="return false" ng-click="setFoto('1')" data-toggle="modal" data-target="#change-picture-modal" class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-picture"></i> Alterar Foto</a>
          
        </div>
        
        <div class="col-md-4">
          <h3>Foto 2</h3>
          <br/>
          <img src='/picture/{{currentUser.id}}/image?photoParam=foto2' style='width: 300px height: 200px'/>
          <br/>
          <br/>
          <a href="#" onclick="return false" ng-click="setFoto('2')" data-toggle="modal" data-target="#change-picture-modal" class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-picture"></i> Alterar Foto</a>
        </div>

        <div class="col-md-4">
          <h3>Foto 3</h3>
          <br/>
          <img src='/picture/{{currentUser.id}}/image?photoParam=foto3' style='width: 300px height: 200px'/>
          <br/>
          <br/>
          <a href="#" onclick="return false" ng-click="setFoto('3')" data-toggle="modal" data-target="#change-picture-modal" class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-picture"></i> Alterar Foto</a>
          </button>
        </div>
      </div>

      <div>
        <div class="modal fade" id="change-picture-modal" tabindex="-1" role="dialog" aria-labelledby="change-picture-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="closeButton" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Alterar Foto {{foto}}</h4>
              </div>
              <div class="modal-body">
                  <p>Selecione a foto desejada depois clique a arraste o mouse sobr a mesma para recortá-la conforme o desejado. Quando estiver satisfeito, clique no botão "Enviar".</p>
                  <br/> 
                  <br/> 
                  <div class="row">
                    <div upload-crop-form url="/picture/upload/image"></div>

              </div>
              
              <div class="row-fluid">&nbsp;</div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="checkCoords()" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>      
    </div>

    
 </div>
