<!DOCTYPE html>
<html ng-app="agencia" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="agenciaNamoroGay">
    <meta name="author" content="agenciaNamoroGay">

    <title>Ag&ecirc;ncia Namoro Gay - Desde 2007</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/agencia-namoro.css" rel="stylesheet">
    <link href="css/backoffice.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bower_components/select2/select2-bootstrap.css" rel="stylesheet">
    <link href="bower_components/select2/select2.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/carousel.css" rel="stylesheet">
  </head>

  <body>

    <backoffice-menu-header></backoffice-menu-header>
    <div ng-view></div>
    <backoffice-menu-footer></backoffice-menu-footer>
    <script>
        function showMeuPerfil(){
          document.getElementById('meuPerfil').style.display='block';
          document.getElementById('outrosClientes').style.display='none';
        }

        function showOutrosClientes(){
           document.getElementById('meuPerfil').style.display='none';
           document.getElementById('outrosClientes').style.display='block';
        }

       function activate(id){
         $( 'li.active' ).removeClass('active');
         $('#'+id).addClass('active');

       }
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap/js/carousel.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ngUpload/ng-upload.js"></script>
    <script src="bower_components/jcrop/js/jquery.Jcrop.js"></script>
    <script src="bower_components/jcrop/css/jquery.Jcrop.css"></script>

    <script src="js/commons/docs.min.js"></script>
    <script src="js/commons/agencia.js"></script>

    <script src="js/app/app.js"></script>

    <script src="js/app/directives/form-login.js"></script>
    <script src="js/app/directives/form-register.js"></script>
    <script src="js/app/directives/forgot-password.js"></script>
    <script src="js/app/directives/change-password.js"></script>
    <script src="js/app/directives/backoffice-menu-header.js"></script>
    <script src="js/app/directives/backoffice-menu-footer.js"></script>
    <script src="js/app/directives/region-autocomplete.js"></script>
    <script src="js/app/directives/crop-helper.js"></script>
    <script src="js/app/directives/upload-crop-form.js"></script>

    <script src="js/app/services/auth.js"></script>
    <script src="js/app/services/session.js"></script>
    <script src="js/app/services/user.js"></script>
    <script src="js/app/services/profile.js"></script>
    <script src="js/app/services/profile-transformer.js"></script>
    <script src="js/app/services/contact.js"></script>
    <script src="js/app/services/picture.js"></script>

    <script src="js/app/filters/range.js"></script>

    <script src="js/app/controllers/main.js"></script>
    <script src="js/app/controllers/signin.js"></script>
    <script src="js/app/controllers/signup.js"></script>
    <script src="js/app/controllers/settings.js"></script>
    <script src="js/app/controllers/profile.js"></script>
    <script src="js/app/controllers/contact.js"></script>
    <script src="js/app/controllers/picture.js"></script>


  </body>
</html>
